header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  color: $text-color;
  background-image: url('../../img/main.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  transform: translateY(-25%) skewY(-5deg);

  .container {
    padding-top: 3em;

    .headerTopDiv {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      margin-top: 6em;
      transform: skewY(5deg);

      .headerTitleDiv {
        .headerTitle {
          // transform: skewY(5deg);

          a:link,
          a:visited {
            color: $text-color;
          }

          h1 {
            font-family: 'Roboto Slab', serif;
            // color: $text-color;
          }

          h1:hover {
            transform: translate(2px, 2px);
          }
        }

        .subTitle {
          // transform: skewY(5deg);
          font-family: 'New Tegomin', serif;
          font-weight: 500;
          margin: 0.5em 0 0 0.5em;
        }
      }

      .menuBarDiv {
        // transform: skewY(5deg);

        .hamburgerBar {
          transform: skewY(5deg);

          i {
            font-size: 2em;
            // margin-right: 1em;
            color: $text-color;
          }
        }
      }
    }

    .headerContent {
      width: 100%;
      height: 30vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transform: skewY(5deg);

      .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $back-color;
        width: 50%;
        height: 60%;
        padding: 0.8em;

        p {
          margin: 0.3em 0;
          font-size: 1.3em;
          color: $text-color;
        }
      }
    }
  }
}
